@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
body {
  background: $paleyellow;
  color: $darkblue;
}


