// header --------------

header {
  img {
    width: 95%;
    margin: 2.5%;
    max-width: 500px;
  }
}
 
// navigation -----------
.navigation {
  background: lighten($darkblue, 15);
  ul.nav {
    li {
      i {
        color: lighten($yellow, 20);
        padding-right: .5em;
      }

      a {
        display: block;
        text-decoration: none;
        padding: 5px 10px;
        color: $paleryellow;
      }

    }
  }
}
